<VirtualHost *:80>
	ServerName project.local
    ServerAdmin sys-admin@niif.hu
    DocumentRoot /var/www/project/web

    <Directory /var/www/project/web>
        Options Indexes FollowSymLinks MultiViews
        Allow from all
        AllowOverride All
        AuthType shibboleth
        ShibUseHeaders On
        ShibRequireSession Off
    </Directory>

</VirtualHost>
